.introduction {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 130px;
    margin-left: 220px;
}

h4 {
    color: #262523;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 500px;
}

h1 {
    margin: 0px;
}

.role {
    margin-left: 8px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3c
}
.name {
    font-size: 100px;
    color: #262523;
    font-family: "Space Mono";
    font-weight: 800;
    letter-spacing: -4px;


}

.description {
    color: #3f3f3c;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 8px;
    width: 450px;
    font-weight: normal;
}


