.main{
    background-color: #1d2433;
    color: #a8b2d1;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
