.main{
    background-color: #faefe6;
    color: #262523;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}
