.title {
    position: relative;
    margin-top: 250px;
    left: 15vw;
    font-weight: bold;
}

.about {
    position: relative;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    width: 68vw;
    margin: 20px 15vw 150px 15vw;
}

.about > h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

.about-container {
    display: flex;
    flex-direction: row;
}

.about-description {
    margin-top: 20px;
    margin-right: 60px;
}

.profile-pic {
    margin-top: 33px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    filter: brightness(0.9) contrast(1.1);
}
