.experience {
    position: relative;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 20px 15vw 150px 15vw;
}

.title {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: bold;
}

.exp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-row-gap: 0
}

.expContainer {
    display: grid;
    grid-template-areas:
        "date company"
        "location role"
        "empty description";
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    overflow-x: wrap;
}

.date {
    grid-area: date;
    font-size: 19px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.date::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #676767;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;

}


.company a {
    grid-area: company;
    font-size: 28px;
    font-weight: 600;
    margin-left: 8px;
    text-decoration: none;
    color: #262523
}

.company a:hover {
    color: #262523;
    text-decoration: underline;
}

.location {
    grid-area: location;
    font-size: 16px;
}

.role {
    grid-area: role;
    font-size: 18px;
    color: #2d2d2d;

}

.description {
    grid-area: description;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 50px;
    width: 32vw;
}
